@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
html {
  font-family:"Noto Sans KR", sans-serif !important;
  min-height:100%;
  position: relative;
}
body {
  font-family:"Noto Sans KR", sans-serif !important;
  min-height:100%;
  position: relative;
  overflow-y: hidden !important;
}
element.style {
  left: 95px !important;
}
/* 전체 폼 */
.dash1-1 {
  font-family:"Noto Sans KR", sans-serif !important;
  margin-top: 60px;
  min-width:100%;
}

/* 타이틀 */
.dash_title {
  font-weight: bold;
  font-size: 28px;
  color: #1C1C1C;
  margin-top:
}

/* div */
.contents_container {
  font-family:"Noto Sans KR", sans-serif !important;
  display:flex;
  flex-direction: column;
  align-items: stretch;
  min-height:100%;
  max-width: 95%;
  margin:0 60px;

  /* position:absolute; */
  /* overflow:hidden; */
}

.contents_item{
  margin-top: 5vh;
  font-size: 13px;
}

.contents_item:last-child{
  margin-bottom:15vh;
}


/* SELECT BOX */
.select-common {
  height: 30px;
  border-color: #B6B6B6;
  border-radius: 3px;
  color: #B0B0B0;
  vertical-align: middle;
  font-family:"Noto Sans KR", sans-serif !important;
  font-size: 13px;
  width: 100px;
}
.select-style1 {
  background-color: #F2FCFF;
  color:#565656;
  width: 100px;
}

/* INPUT */
.input-common {
  box-sizing: border-box;
  border: 1px solid black;
  background-color: white;
  width: 250px;
  height: 30px;
  border-radius: 3px;
  border-color: #B6B6B6;
  vertical-align: middle;
  font-family:"Noto Sans KR", sans-serif !important;
}
.input-common::placeholder {
  color: #B0B0B0;
}

.input-style1 {
  background-color: #FFFFF2;
  color: #B0B0B0;
}

/* TEXTAREA */
.textarea-common {
  border: 1px solid black;
  background-color: white;
  border-radius: 3px;
  border-color: #B6B6B6;
  vertical-align: middle;
  font-family:"Noto Sans KR", sans-serif !important;
}


/* BUTTON */
/* 개별 width, height 수정은 엘리먼트에서 직접 기입 */
.btn-common {
  cursor: pointer;
  border: 2px solid black;
  background-color: white;
  width: 90px;
  height: 30px;
  font-weight: 400;
  border-radius: 3px;
  background: #a9abac;
  border-color: #a9abac;
  color: rgb(255, 255, 255);
  font-size:14px;
  vertical-align: middle;
  font-family: "Noto Sans KR", sans-serif;
}
.btn-search {
  background: #FA4C06;
  border-color: #FA4C06;
  width: 60px;
}
.btn-style1 {
  background: #FA4C06;
  border-color: #FA4C06;
}
.btn-style2 {
  background: #565656;
  border-color: #565656;
  width: 60px;
}
.btn-style3 {
  background: white;
  border-color: #B6B6B6;
  color: #565656;
  width: 60px;
}

/* 상세내역보기, 부서관리, 부서별권한관리, 권한관리,제품별 점검항목 보기, 조직도, 계정과목, 조정연차관리, 은행관리  */
.btn-style4{
  background: #F4F4F4;
  border-color: #DFDFDF;
  color: #1C1C1C;
}

/* 한줄추가, 전체읽음, 부서이동, 미권한자 목록, 한줄복사, 담당자 설정 */
.btn-style5{
  background: #DFDFDF;
  border: white;
  color: #1C1C1C;
}

.btn-color1 {
  background: #FFFFFF;
  border: thin solid #C2C2C2;
  color: #1C1C1C;
}
.btn-color2 {
  background: #FA4C06;
  border: #FA4C06;
  color: #FFFFFF;
}

.btn-color3{
  background: #D8EBFF;
  border:none;
  color: #1A8DFF;
}

/* 삭제,취소,수정,연차삭제 빨간바탕버튼 */
.btn-color4{
  background: #FFEDED;
  border: none;
  color: #E53737;
}

/* 정기점검 미완료, 설정해제, 초기화 버튼*/
.btn-color5{
  background: white;
  border-color: #DFDFDF;
  color: #E53737;
}

/* 제품별 점검항목 추가  */
.btn-color6{
  background: #0575E6;
  border: none;
  color: #FFFFFF;
}

/* 표지등록, 로고등록, 공문작성, 최송승인, 연차생성, 품의서작성 */
.btn-color7{
  background: white;
  border-color: #DFDFDF;
  color: #0575E6;
}

.btn-size1 {
  width:auto;
  padding-left:16px;
  padding-right:16px;
}

/* 업로드, 엑셀 다운버튼 */
.btn-updownload {
  background: white;
  border-color: #DFDFDF;
  color: #1C1C1C;
}

.down_btn {
  float:right;
  margin-right:10px;
  border: 1px solid #D1D1D1;
  border-radius: 3px;
  padding-bottom:3px;
  font-weight:bold;
  height:18px;
  padding-left:4px;
  padding-right:4px;
}

/* TABLE */
.row-color1 {
  background-color: #F4F4F4;
}
.row-color2 {
  background-color: #FFFFF2;
}
.row-color3 {
  background-color: #FFEDED;
  color: #E53737;
  font-weight: bold;
}
.row-color4 {
  background-color: #F2FCFF;
  color: #007BCB;
  font-weight: bold;
}
.row-color5 {
  background-color:rgb(255, 255, 255);
}
.row-color6 {
  background-color:#F4F4F4 !important;
}

.row-color7 {
  background-color:#DFDFDF !important;
}
.tbl-title {
  background-color: #F4F4F4;
  font-weight: bold;
  text-align: center;
}
.tbl-title2 {
  text-align: left;
  font-weight: normal;
  padding-left: 15px;
  background-color: #FCFCFC;
}
.tbl-sub-title {
  font-weight:bold;
  font-size:16px;
  height: 50px;
}
.border-b td {
  border-bottom: thin solid #DFDFDF;
}
.cell-tr td, .cell-tr th {
  border-bottom: thin solid #DFDFDF;
}
.cell-tr td:first-child, .cell-tr th:first-child {
  border-left: thin solid #DFDFDF;
}
.cell-tr td, .cell-tr th {
  border-right: thin solid #DFDFDF;
}
.border-t td, .border-t th {
  border-top: thin solid #DFDFDF;
}
.border-a td {
  border: thin solid #DFDFDF;
}
.border-l {
  border-left: thin solid #DFDFDF;
}
.border-r {
  border-right: thin solid #DFDFDF;
}
.border-f {
  border-left: thin solid #DFDFDF;
  border-right: thin solid #DFDFDF;
}
.no-border {
  border:none !important;
}
.tbl-cell {
  padding-left:10px;
}
.tbl-cell2 {
  padding-left:10px;
}
.tbl-mid {
  text-align: center;
}
.tbl-contents {
  padding-left:20px;
  padding-bottom:20px;
}
.tbl-tr td, .tbl-tr th {
  height: 40px;
}
.month_tbl th, .division_tbl th, .contents_tbl th, .list_tbl th {
  height: 40px;
}
.month_tbl td, .division_tbl td, .contents_tbl td, .list_tbl td {
  border-bottom: solid #DFDFDF;
  border-width: thin;
  height: 40px;
  font-family: "Noto Sans KR", sans-sans-serif !important;
}
.list_tbl tr td:not(:last-child) {
  border-right: thin solid #DFDFDF;
}
.list_tbl tr:first-child {
  border-top: thin solid #DFDFDF;
}

/* 리스트 내용 */
.list {
  color: #1c1c1c;
  font-size: 13px;
}

/* 셀렉트박스 옆 제목 */
.search_title {
  color: #1c1c1c !important;
  font-size: 13px !important;
  font-weight: 500 !important;
}

.contents_tbl th {
  background-color: #DEDEDE;
}
.money_td {
  padding-right:10px;
  color: #1c1c1c;
  font-size: 13px;
}

/* summernote */
.note-popover .note-popover-content, .note-toolbar, .note-btn {
  background-color: #F4F4F4 !important;
  border-color: #F4F4F4 !important;
}
.note-editor.note-frame {
  border: none !important;
}

.alink > font {
  color: #0575E6 !important;
}
