html {
   min-height:100%;
   position: relative;
}
body {
   min-height:100%;
   position: relative;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
}
text {
  font-family:"Noto Sans KR", sans-serif !important;
}


.contents_container {
  font-family:"Noto Sans KR", sans-serif !important;
  display:flex;
  flex-direction: column;
  align-items: stretch;
  min-height:100%;
  max-width: 95%;
  margin:0 60px;

  /* position:absolute; */
  /* overflow:hidden; */
}

.contents_item{
  margin-top: 5vh;
}
